<center><h1>Welcome to your User page</h1></center>
<center><%= link_to "Log-out", logout_path %> </center>
<br>
<%= paginate @user %>

<% @user.each do |user| %>
<tr>
	<td> <%= user.username %> </td></tr>
	<%end %>

	<%= simple_form_for @user do |f| %>   
	<%=f.input :username %>   
	<%=f.input :email %>   
	<%=f.button :submit %> 
	<% end %>