<!DOCTYPE html>
<html>
<head>
  <title>Class7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<h1>Let the fun begin</h1>
<p> <%= current_user.email if current_user %></p>
<%= yield %>

</body>
</html>
