<h1><center> Welcome to <%= @user.username %> page</center>  </h1>
<br>
<%= @user.username %> 
<%= link_to "Go home", users_path()%> 

<%= link_to "Check your existing posts", user_posts_path(@user.id )%>
<br>
<center><%= link_to "Log-out user", session_path(@user.id), method: :delete %></center>