<h1> Bird </h1>

<%= form_for :bird, url: birds_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :size %><br>
    <%= f.text_area :size %>
  </p>
   <p>
    <%= f.label :colours %><br>
    <%= f.text_area :colours %>
  </p>
  <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'home', root_path %>
