<h1> Bird </h1>
<p>
  <strong>Name:</strong>
  <%= @bird.name %>
</p>
 
<p>
  <strong>Size:</strong>
  <%= @bird.size %>
</p>
<p>
  <strong>Colours:</strong>
  <%= @bird.colours %>
</p>
<p>
  <strong>Decription:</strong>
  <%= @bird.description %>
  </p>
<%= link_to 'home', root_path %>
<%= link_to 'back', show_path(@prevbird) %>
<%= link_to 'next', show_path(@nextbird ) %>