<h1>You can edit your post here</h1>
<br>
<%= form_for [@user,@posts] do |f| %>   
<%=f.label :title %>   
<%=f.text_field :title %>
<%=f.label :body %>   
<%=f.text_field :body %>
<%=f.submit :update %> 
<% end %>
<br>
<p><center>Otherwise you can <%= link_to "Go back", :back%><center></p>