<h1> List of posts</h1>
<br>
<% @posts.each do |post| %>

<p> <%= post.title %> 
<br>
	<%= post.body %> 
 </p>
 <%= link_to 'Post details', user_post_path(params[:user_id],post.id) %>
  <%= link_to 'Edit this post', edit_user_post_path(params[:user_id],post.id) %>
 <%= link_to 'Delete this post', user_post_path(params[:user_id],post.id), method: :delete %>
<% end %>
<br>
<%= link_to "Create a new Post", new_user_post_path() %>

<%= link_to "Go home", users_path()%>